.form {
    display: flex;
}

.create-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-top: 10px;
    height: 22px;
    background: #22b8cf;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.create-button:hover {
    background: #3bc9db;
}